body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

header {
    text-align: left;
}

header h1 {
    color: #c21818;
    text-align: right;
    font-style: italic;
    font-size: 32px;
}

header p {
    font-size: 18px;
    margin: 5px 0;
}

header a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header img {
    margin-top: 10px;
    width: 150px;
}

.housing-services {
    text-align: right;
    background-color: #800000;
    padding: 20px;
    color: white;
}

.housing-services h2 {
    font-size: 24px;
}

.housing-services nav ul {
    list-style-type: none;
    padding: 0;
}

.housing-services nav ul li {
    display: inline;
    margin-right: 20px;
    font-size: 18px;
}

.housing-options {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.housing-options .option {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black;
}

.housing-options h3 {
    margin-top: 0;
}

.housing-options p {
    font-size: 14px;
    line-height: 1.5;
}

.housing-options a {
    text-decoration: none;
    color: #800000;
    font-weight: bold;
}

.information h3 {
    font-size: 20px;
    margin-top: 20px;
}

.information ul {
    list-style-type: disc;
    margin-left: 20px;
}

/* Hidden menu on the left */
.side-menu {
    position: fixed;
    left: -200px; /* Initial hidden menu */
    top: 0;
    width: 200px;
    height: 100%;
    background-color: #333;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    color: white;
    overflow: hidden;
    transition: left 0.5s ease; /* Sliding effect */
    padding-top: 20px;
}

/* Displays the menu when the mouse hovers over the area */
.menu-container:hover .side-menu {
    left: 0;
}

/* Menu item style */
.menu-item {
    margin-left: 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    display: block;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.menu-item:hover {
    background-color: #575757;
}

/* Tip TAB on the left */
.menu-label {
    position: fixed;
    left: -40px; /* Let the label stick out a little */
    top: 50%;
    width: 40px;
    height: 100px;
    background-color: #c41e3a; /* Label color */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-90deg); /* Rotating label */
    font-size: 16px;
    font-weight: bold;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

/* Fix the menu icon on the left side, with 1/6 of the screen width as the trigger area */
.menu-trigger {
    position: fixed;
    left: 0;
    top: 0;
    width: 16.67vw;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
}

.login {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
}

.login a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    background-color: #800000;
    padding: 10px 20px;
    border-radius: 6px;
    border: 1px solid #800000;
}

#logoutButton {
    background-color: #800000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
    margin-left: 10px;
}

#logoutButton:hover {
    background-color: #a33d3d; /* 鼠标悬停时颜色变化 */
}

#userAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #800000;
    cursor: pointer;
}

.content {
    text-align: right;
    background-color: #800000;
    padding: 20px;
    color: #800000;
}

.content .subcontent{
    background-color: #ffffff;
    padding: 20px;
    padding: 10px;
    border-radius: 5px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}